In [34]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
import datetime
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.austintexas.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.austintexas.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("fdj4-gpfu", limit=200000,)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [35]:
results_df

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,occ_date,occ_time,rep_date_time,rep_date,rep_time,...,longitude,location,:@computed_region_a3it_2a2z,:@computed_region_8spj_utxs,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,ucr_category,category_description,clearance_status,clearance_date
0,2022813090,ASSAULT BY CONTACT,902,N,2022-01-08T23:57:00.000,2022-01-08T00:00:00.000,2357,2022-01-08T23:57:00.000,2022-01-08T00:00:00.000,2357,...,-97.73818499,"{'latitude': '30.25953309', 'longitude': '-97....",2856,9,10,1405,NaN,NaN,NaN,NaN
1,202281353,FAMILY DISTURBANCE,3400,N,2022-01-08T23:51:00.000,2022-01-08T00:00:00.000,2351,2022-01-09T00:04:00.000,2022-01-09T00:00:00.000,4,...,-97.71813346,"{'latitude': '30.21951765', 'longitude': '-97....",3256,3,3,1599,NaN,NaN,NaN,NaN
2,202281199,AGG ROBBERY/DEADLY WEAPON,300,N,2022-01-08T23:37:00.000,2022-01-08T00:00:00.000,2337,2022-01-08T23:37:00.000,2022-01-08T00:00:00.000,2337,...,-97.71524279,"{'latitude': '30.42489395', 'longitude': '-97....",3243,7,7,3749,120,Robbery,NaN,NaN
3,202281282,FAMILY DISTURBANCE,3400,N,2022-01-08T23:34:00.000,2022-01-08T00:00:00.000,2334,2022-01-08T23:34:00.000,2022-01-08T00:00:00.000,2334,...,-97.72062928,"{'latitude': '30.22899126', 'longitude': '-97....",3256,3,3,102,NaN,NaN,NaN,NaN
4,202281324,AUTO THEFT,700,N,2022-01-08T23:31:00.000,2022-01-08T00:00:00.000,2331,2022-01-08T23:31:00.000,2022-01-08T00:00:00.000,2331,...,-97.71745933,"{'latitude': '30.35094052', 'longitude': '-97....",3645,7,7,NaN,240,Auto Theft,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,20193491819,POSS CONTROLLED SUB/NARCOTIC,1800,N,2019-12-16T00:15:00.000,2019-12-16T00:00:00.000,15,2019-12-16T00:21:00.000,2019-12-16T00:00:00.000,21,...,-97.69975739,"{'latitude': '30.21620096', 'longitude': '-97....",3256,3,3,2405,NaN,NaN,C,2019-12-16T00:00:00.000
199996,20193500011,FAMILY DISTURBANCE,3400,N,2019-12-16T00:06:00.000,2019-12-16T00:00:00.000,6,2019-12-16T00:34:00.000,2019-12-16T00:00:00.000,34,...,-97.71780314,"{'latitude': '30.37194381', 'longitude': '-97....",3646,4,9,3851,NaN,NaN,NaN,NaN
199997,20193500009,ASSAULT W/INJURY-FAM/DATE VIOL,900,Y,2019-12-16T00:04:00.000,2019-12-16T00:00:00.000,4,2019-12-16T00:46:00.000,2019-12-16T00:00:00.000,46,...,-97.73797773,"{'latitude': '30.24143168', 'longitude': '-97....",2859,9,10,981,NaN,NaN,C,2019-12-16T00:00:00.000
199998,20195051506,CRIMINAL MISCHIEF,1400,N,2019-12-16T00:01:00.000,2019-12-16T00:00:00.000,1,2019-12-17T10:23:00.000,2019-12-17T00:00:00.000,1023,...,-97.71371186,"{'latitude': '30.40485376', 'longitude': '-97....",3646,7,7,3253,NaN,NaN,N,2019-12-18T00:00:00.000
199999,20205000359,THEFT OF SERVICE,608,N,2019-12-16T00:00:00.000,2019-12-16T00:00:00.000,0,2020-01-03T15:14:00.000,2020-01-03T00:00:00.000,1514,...,-97.75795374,"{'latitude': '30.24971453', 'longitude': '-97....",2859,9,10,340,NaN,NaN,N,2020-01-14T00:00:00.000

In [36]:
results_df.dtypes

incident_report_number         object
crime_type                     object
ucr_code                       object
family_violence                object
occ_date_time                  object
occ_date                       object
occ_time                       object
rep_date_time                  object
rep_date                       object
rep_time                       object
location_type                  object
address                        object
zip_code                       object
council_district               object
sector                         object
district                       object
pra                            object
census_tract                   object
x_coordinate                   object
y_coordinate                   object
latitude                       object
longitude                      object
location                       object
:@computed_region_a3it_2a2z    object
:@computed_region_8spj_utxs    object
:@computed_region_q9nd_rr82    object
:@computed_region_qwte_z96m    object
ucr_category                   object
category_description           object
clearance_status               object
clearance_date                 object
dtype: object

In [130]:
crime_df = results_df[['category_description', 'family_violence', 'crime_type', 'occ_date', 'occ_time', 'location_type','address', 'zip_code', 'latitude', 'longitude']]
crime_df.dropna(inplace=True)
crime_df.sample(10)

C:\Users\Christopher Garcia\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,category_description,family_violence,crime_type,occ_date,occ_time,location_type,address,zip_code,latitude,longitude
26815,Aggravated Assault,Y,AGG ASSAULT FAM/DATE VIOLENCE,2021-09-15T00:00:00.000,1932,RESIDENCE / HOME,6600 ED BLUESTEIN BLVD SB,78723,30.30552185,-97.66162478
143527,Theft,N,BURGLARY OF VEHICLE,2020-07-04T00:00:00.000,2300,RESIDENCE / HOME,6600 BAY CITY BND,78725,30.26163332,-97.6699174
69043,Burglary,N,BURGLARY OF SHED/DETACHED GARAGE/STORAGE UNIT,2021-04-03T00:00:00.000,0,DRUG STORE / DR. OFFICE / HOSPITAL,4515 S CONGRESS AVE,78745,30.21574471,-97.76792596
16970,Theft,N,BURGLARY OF VEH-NO SUSPECT/FU,2021-10-24T00:00:00.000,1055,HOTEL / MOTEL / ETC.,300 S CONGRESS AVE,78704,30.25854609,-97.74677202
77428,Theft,N,BURGLARY OF VEHICLE,2021-03-04T00:00:00.000,2000,RESTAURANTS,713 E HUNTLAND DR,78752,30.32981155,-97.70652937
8162,Auto Theft,N,AUTO THEFT,2021-11-29T00:00:00.000,1600,PARKING LOTS / GARAGE,10102 BROWNIE DR,78753,30.36636194,-97.68556431
74643,Theft,N,MAIL THEFT,2021-03-14T00:00:00.000,1200,OTHER / UNKNOWN,5312 ATASCOSA DR,78744,30.19281634,-97.74148089
146856,Aggravated Assault,N,AGG ASSAULT,2020-06-22T00:00:00.000,2219,GAS / SERVICE STATIONS,9616 N LAMAR BLVD,78758,30.36679701,-97.69560063
167350,Robbery,N,ROBBERY BY THREAT,2020-04-08T00:00:00.000,1845,DRUG STORE / DR. OFFICE / HOSPITAL,5345 N IH 35 SVRD NB,78723,30.31271446,-97.70742907
53191,Theft,N,MAIL THEFT,2021-06-03T00:00:00.000,0,RESIDENCE / HOME,7418 CAMERON RD,78752,30.32998652,-97.69041803

In [133]:
for str in crime_df['occ_time']:
          if len(str)==1:
                    print(str)

0
0
0
0
0
0
0
1
4
0
0
0
0
0
0
0
0
0
0
0
0
0
0
9
1
1
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
5
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
1
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
5
1
1
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
0
0
0
0
7
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
5
0
0
0
0
0
0
0
6
5
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
1
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
9
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
5
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
5
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
2
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
1
0
0
0
0
5
1
0
0
0
0
7
5
1
1
0
0
0
0
0
0
0
0
0
1
0
0
0
3
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
1
0
0
0
0
0
6
1
0
0
1
0
0
0
0
1
1
1
0
0
0
0
0
0
0
1
1
1
0
0
0
1
0
0
0
0
5
1
0
0
0
0
0
0
1
0
0
0
0
0
1
1
0
0
0
9
2
0
0
0
0
0
0
0
0
0
0
5
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
5
1
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
1
0
0
5
0
0
0
0
0
0
0
1
0
0
2
1
0
0
0
0
1
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
8
7
3
0
0
0
3
0
0
0
5
0
0
0
0
0
0
0
0
0
2
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
0
0
0
0
0
0
0
0
0
0
3
0
0
0
0
0
0
0
0
0
1
1
0
0
0
1
0
0
0
0
0
0
0
0
0
9
5
5
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
5
1
0
0
4
1
0
0
0
0
0
0
0
0
0
1
1
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
8
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
3
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
6
1
1
1
0
0
0
0
0
0
0
0
0
7
0
0
0
1
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
8
0
0
0
1
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
1
0
0
0
0
0
0
1
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
5
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
8
0
0
0
0
0
1
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
4
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
4
0
0
0
1
0
0
0
8
0
0
0
0
0
5
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
3
1
1
0
0
0
0
0
0
0
1
0
0
0
0
0
1
1
1
0
0
0
1
0
0
1
0
0
0
1
1
0
0
0
0
0
0
0
0
1
0
0
0
0
0
1
1
1
0
0
0
0
0
0
1
1
0
0
0
0
1
0
0
0
0
1
1
0
0
0
1
0
0
0
0
0
0
0
0
1
1
0
0
0
0
5
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
7
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
5
1
0
0
0
0
0
0
0
8
7
1
1
0
0
0
0
1
1
0
0
0
0
0
0
0
0
1
0
0
0
0
0
1
1
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
9
0
0
0
0
0
0
0
0
0
0
0
0
3
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
1
0
0
1
1
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
5
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
5
1
1
0
0
0
0
0
0
0
3
1
1
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
8
0
0
0
1
0
0
0
0
0
9
1
0
0
0
0
3
3
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
7
0
0
8
5
1
1
1
0
0
0
0
0
0
0
0
0
0
0
3
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
5
1
0
0
0
0
1
0
0
0
0
0
0
0
0
1
0
0
0
0
0
6
4
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
6
0
0
0
0
1
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
3
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
1
0
0
0
0
0
0
0
0
0
0
0
0
6
4
1
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
5
0
0
0
1
0
0
0
0
9
9
0
1
0
0
0
0
0
0
1
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
1
1
1
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
7
1
0
0
0
5
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
8
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
0
0
0
5
1
0
0
0
0
0
0
3
0
0
0
0
0
0
0
0
9
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
1
1
1
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
5
0
0
0
0
0
0
0
5
1
0
0
0
0
0
5
0
0
0
1
1
0
0
0
0
0
0
0
0
1
0
0
0
0
5
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
8
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
0
0
0
0
0
0
0
0
0
0
0
5
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
9
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
6
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
5
1
1
0
0
0
0
0
0
6
0
0
0
0
0
0
0
0
0
5
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
1
0
0
0
7
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
8
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
4
0
0
0
0
0
0
0
0
0
0
9
0
0
0
1
0
0
0
0
0
0
0
9
5
1
0
0
0
0
5
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
5
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
1
1
1
0
0
0
0
0
0
0
0
0
0
0
5
1
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
1
0
0
0
0
0
1
0
0
0
0
0
0
0
0
3
0
0
0
0
8
1
0
0
0
0
0
1
1
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
3
0
0
0
0
0
0
0
0
0
9
8
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
2
1
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
3
1
0
0
0
0
0
0
0
0
0
0
0
0
0
5
4
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
7
6
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
0
0
0
0
0
1
0
0
0
0
0
0
0
0
5
0
0
0
0
0
0
0
0
0
7
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
6
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
9
2
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
5
0
0
0
0
0
0
0
0
0
1
1
1
1
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
5
2
1
1
0
0
0
1
0
0
0
0
0
0
1
0
0
0
0
0
5
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
5
0
0
0
0
0
0
7
0
0
0
0
5
0
0
0
0
0
0
0
5
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
7
0
0
0
0
2
0
0
0
0
0
0
0
0
0
8
1
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
3
0
0
6
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
5
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
3
0
1
1
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
8
0
0
0
0
0
0
0
0
0
0
0
0
0
6
5
0
0
0
1
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
3
0
0
0
0
0
5
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
1
0
0
0
0
1
1
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
5
0
0
0
0
0
0
0
1
0
0
0
0
0
2
0
0
0
0
0
0
0
0
0
3
1
0
0
8
1
1
0
0
0
0
0
0
0
0
0
0
0
2
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
8
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
9
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
6
5
0
0
0
0
1
0
0
0
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
0
0
5
1
0
0
0
0
3
3
0
0
0
0
0
0
5
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
6
0
0
0
0
0
0
6
1
0
0
0
2
0
0
0
0
0
0
0
0
0
1
0
0
0
0
2
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
3
1
0
0
9
1
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
1
1
0
0
0
0
0
9
0
0
0
0
0
1
0
0
0
9
0
0
3
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
8
0
0
0
0
0
1
0
3
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
1
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
8
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
9
1
1
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
5
0
0
1
0
0
0
0
0
0
1
1
1
0
0
7
0
0
0
1
9
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
1
1
1
0
0
0
0
0
0
0
1
1
1
1
0
0
0
0
0
0
0
1
1
1
0
0
0
0
1
0
0
0
0
1
1
1
0
0
0
0
0
1
0
0
0
0
6
0
0
6
0
0
8
1
0
0
0
0
1
0
0
0
0
0
0
0
1
0
0
0
0
1
0
5
0
0
1
1
0
0
0
1
1
0
0
0
0
9
1
1
1
0
0
7
0
0
0
0
0
0
0
0
1
1
0
0
0
0
6
0
0
0
5
1
1
1
1
0
1
0
0
0
0
0
0
1
1
1
1
0
0
0
1
0
0
0
0
0
1
0
0
0
0
0
0
0
3
2
0
0
0
1
0
0
0
0
0
1
1
1
1
9
0
0
0
0
0
0
0
0
0
0
1
1
1
0
0
1
0
0
0
0
1
0
0
0
0
0
0
0
0
0
1
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
6
0
0
0
0
0
0
0
0
0
0
0
0
0
0
6
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
7
1
0
0
0
0
0
0
0
0
0
5
1
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
0
3
1
1
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
5
0
0
0
1
0
0
0
0
0
0
0
0
0
0
7
0
0
0
0
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
1
1
0
0
0
0
1
0
0
1
0
0
0
0
1
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
6
0
0
0
0
0
0
0
0
0
1
0
0
0
0
3
1
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
4
0
0
0
0
0
0
0
0
0
8
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
8
0
0
0
0
0
0
0
8
1
1
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
8
3
1
0
0
0
0
5
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
1
1
0
0
1
1
1
0
0
0
0
0
0
1
0
0
0
0
0
0
3
0
0
0
0
0
0
0
0
0
0
2
2
1
0
0
0
0
0
0
0
0
0
0
0
0
0
4
0
0
0
0
7
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
5
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0

In [134]:
#Converting time data to datetime

timefmt_date = "%Y-%m-%d"
timefmt_time = "%H:%M" 
crime_df['occ_date']= pd.to_datetime(crime_df['occ_date'], format = timefmt_date, errors='coerce')

time_occ = []

# Loop to format data for date time
for str in crime_df['occ_time']:
          if len(str) == 4 :
                    val =  str[:2] + ':' +str[2:]
          elif len(str) == 3:
                    val = str[:1] + ':' +str[1:]
          elif len(str) == 2:
                    val = '00:' + str
          elif len(str) == 1:
                    val = '00:0' + str
          time_occ.append(val)
#
crime_df['time_occ'] = time_occ

crime_df['time_occ'] = pd.to_datetime(crime_df['time_occ'], format = timefmt_time, errors='coerce')
crime_df['time_occ'] = [time.time() for time in crime_df['time_occ']]
crime_df.head()

C:\Users\Christopher Garcia\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Christopher Garcia\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Christopher Garcia\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Christopher Garcia\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,category_description,family_violence,crime_type,occ_date,occ_time,location_type,address,zip_code,latitude,longitude,time_occ
2,Robbery,N,AGG ROBBERY/DEADLY WEAPON,2022-01-08,2337,BANKS / SAVINGS & LOAN,3951 W PARMER LN,78727,30.42489395,-97.71524279,23:37:00
4,Auto Theft,N,AUTO THEFT,2022-01-08,2331,PARKING LOTS / GARAGE,7929 GAULT ST,78757,30.35094052,-97.71745933,23:31:00
21,Robbery,N,AGG ROBBERY/DEADLY WEAPON,2022-01-08,2139,STREETS / HWY / ROAD / ALLEY,RUTLAND DR / N LAMAR BLVD,78758,30.36486901,-97.69600225,21:39:00
27,Auto Theft,N,AUTO THEFT,2022-01-08,2030,PARKING LOTS / GARAGE,9202 PARKFIELD DR,78758,30.36631083,-97.70729241,20:30:00
28,Burglary,N,BURGLARY NON RESIDENCE,2022-01-08,2026,SPECIALTY STORE (TV FUR ETC.),6015 S IH 35 SVRD NB,78744,30.19510006,-97.76555182,20:26:00

In [135]:
crime_df.dtypes

category_description            object
family_violence                 object
crime_type                      object
occ_date                datetime64[ns]
occ_time                        object
location_type                   object
address                         object
zip_code                        object
latitude                        object
longitude                       object
time_occ                        object
dtype: object

In [136]:
crime_df = crime_df.loc[(crime_df['occ_date']>= '2020-01-01') & (crime_df['occ_date']< '2022-01-01')]
crime_df

,category_description,family_violence,crime_type,occ_date,occ_time,location_type,address,zip_code,latitude,longitude,time_occ
1117,Theft,N,THEFT,2021-12-31,2350,OTHER / UNKNOWN,6936 E BEN WHITE BLVD SVRD WB,78741,30.21526412,-97.70301942,23:50:00
1119,Aggravated Assault,Y,AGG ASLT STRANGLE/SUFFOCATE,2021-12-31,2340,RESIDENCE / HOME,10000 N LAMAR BLVD,78758,30.36926216,-97.69510501,23:40:00
1122,Aggravated Assault,N,DEADLY CONDUCT,2021-12-31,2320,RESIDENCE / HOME,2513 FRANCISCO ST,78702,30.26340897,-97.71187196,23:20:00
1123,Theft,N,THEFT,2021-12-31,2300,RESIDENCE / HOME,3220 AMY DONOVAN PLZ,78758,30.3967807,-97.72731711,23:00:00
1124,Theft,N,BURGLARY OF VEH-NO SUSPECT/FU,2021-12-31,2300,RESIDENCE / HOME,10414 BROKEN SHOE TRL,78750,30.45363333,-97.80250663,23:00:00
...,...,...,...,...,...,...,...,...,...,...,...
195541,Burglary,N,BURGLARY NON RESIDENCE,2020-01-01,0,RENTAL STORAGE FACILITY,405 E ST ELMO RD,78745,30.21523129,-97.76330661,00:00:00
195544,Theft,N,THEFT,2020-01-01,0,RESIDENCE / HOME,2302 E WILLIAM CANNON DR,78744,30.18669213,-97.75814558,00:00:00
195553,Theft,N,THEFT OF BICYCLE,2020-01-01,0,PARKING LOTS / GARAGE,2501 PEARL ST,78705,30.28958366,-97.74622868,00:00:00
195555,Theft,N,THEFT OF BICYCLE,2020-01-01,0,PARKING LOTS / GARAGE,507 PRESSLER ST,78703,30.27315833,-97.76014527,00:00:00
195557,Theft,N,THEFT FROM AUTO,2020-01-01,0,PARKING LOTS / GARAGE,1340 AIRPORT COMMERCE DR,78741,30.22428901,-97.68704573,00:00:00

In [137]:
#drop old time column. 
crime_df.drop('occ_time',axis = 1,inplace=True)

In [138]:
crime_df

,category_description,family_violence,crime_type,occ_date,location_type,address,zip_code,latitude,longitude,time_occ
1117,Theft,N,THEFT,2021-12-31,OTHER / UNKNOWN,6936 E BEN WHITE BLVD SVRD WB,78741,30.21526412,-97.70301942,23:50:00
1119,Aggravated Assault,Y,AGG ASLT STRANGLE/SUFFOCATE,2021-12-31,RESIDENCE / HOME,10000 N LAMAR BLVD,78758,30.36926216,-97.69510501,23:40:00
1122,Aggravated Assault,N,DEADLY CONDUCT,2021-12-31,RESIDENCE / HOME,2513 FRANCISCO ST,78702,30.26340897,-97.71187196,23:20:00
1123,Theft,N,THEFT,2021-12-31,RESIDENCE / HOME,3220 AMY DONOVAN PLZ,78758,30.3967807,-97.72731711,23:00:00
1124,Theft,N,BURGLARY OF VEH-NO SUSPECT/FU,2021-12-31,RESIDENCE / HOME,10414 BROKEN SHOE TRL,78750,30.45363333,-97.80250663,23:00:00
...,...,...,...,...,...,...,...,...,...,...
195541,Burglary,N,BURGLARY NON RESIDENCE,2020-01-01,RENTAL STORAGE FACILITY,405 E ST ELMO RD,78745,30.21523129,-97.76330661,00:00:00
195544,Theft,N,THEFT,2020-01-01,RESIDENCE / HOME,2302 E WILLIAM CANNON DR,78744,30.18669213,-97.75814558,00:00:00
195553,Theft,N,THEFT OF BICYCLE,2020-01-01,PARKING LOTS / GARAGE,2501 PEARL ST,78705,30.28958366,-97.74622868,00:00:00
195555,Theft,N,THEFT OF BICYCLE,2020-01-01,PARKING LOTS / GARAGE,507 PRESSLER ST,78703,30.27315833,-97.76014527,00:00:00
195557,Theft,N,THEFT FROM AUTO,2020-01-01,PARKING LOTS / GARAGE,1340 AIRPORT COMMERCE DR,78741,30.22428901,-97.68704573,00:00:00

In [139]:
# Convert latitude and longitude as float
crime_df['latitude'] = crime_df['latitude'].astype('float')
crime_df['longitude'] = crime_df['longitude'].astype('float')
crime_df.dtypes

category_description            object
family_violence                 object
crime_type                      object
occ_date                datetime64[ns]
location_type                   object
address                         object
zip_code                        object
latitude                       float64
longitude                      float64
time_occ                        object
dtype: object

In [140]:
# Converting zip_codes to integers
crime_df['zip_code'] = crime_df['zip_code'].astype('int64')
crime_df.dtypes

category_description            object
family_violence                 object
crime_type                      object
occ_date                datetime64[ns]
location_type                   object
address                         object
zip_code                         int64
latitude                       float64
longitude                      float64
time_occ                        object
dtype: object

In [141]:
# Reorganize column info

column_order = ['category_description', 'crime_type', 'family_violence', 'occ_date', 'time_occ', 'address', 'zip_code','latitude','longitude']
crime_df = crime_df[column_order]
crime_df.groupby(['zip_code']).count()

,category_description,crime_type,family_violence,occ_date,time_occ,address,latitude,longitude
zip_code,,,,,,,,
78610,1,1,1,1,1,1,1,1
78613,441,441,441,441,441,441,441,441
78617,411,411,411,411,411,411,411,411
78652,18,18,18,18,18,18,18,18
78653,69,69,69,69,69,69,69,69
78660,644,644,644,644,644,644,644,644
78664,1,1,1,1,1,1,1,1
78681,1,1,1,1,1,1,1,1
78701,3549,3549,3549,3549,3549,3549,3549,3549
78702,2989,2989,2989,2989,2989,2989,2989,2989
78703,1343,1343,1343,1343,1343,1343,1343,1343
78704,5811,5811,5811,5811,5811,5811,5811,5811
78705,2742,2742,2742,2742,2742,2742,2742,2742
78712,24,24,24,24,24,24,24,24
78717,803,803,803,803,803,803,803,803
78719,261,261,261,261,261,261,261,261
78721,948,948,948,948,948,948,948,948
78722,572,572,572,572,572,572,572,572
78723,4000,4000,4000,4000,4000,4000,4000,4000
78724,906,906,906,906,906,906,906,906
78725,99,99,99,99,99,99,99,99
78726,476,476,476,476,476,476,476,476
78727,1438,1438,1438,1438,1438,1438,1438,1438
78728,35,35,35,35,35,35,35,35
78729,1227,1227,1227,1227,1227,1227,1227,1227
78730,282,282,282,282,282,282,282,282
78731,1754,1754,1754,1754,1754,1754,1754,1754
78732,10,10,10,10,10,10,10,10
78733,2,2,2,2,2,2,2,2
78735,749,749,749,749,749,749,749,749
78736,206,206,206,206,206,206,206,206
78737,9,9,9,9,9,9,9,9
78738,1,1,1,1,1,1,1,1
78739,156,156,156,156,156,156,156,156
78741,5720,5720,5720,5720,5720,5720,5720,5720
78742,89,89,89,89,89,89,89,89
78744,3253,3253,3253,3253,3253,3253,3253,3253
78745,4080,4080,4080,4080,4080,4080,4080,4080
78746,1378,1378,1378,1378,1378,1378,1378,1378
78747,486,486,486,486,486,486,486,486
78748,2341,2341,2341,2341,2341,2341,2341,2341
78749,1360,1360,1360,1360,1360,1360,1360,1360
78750,1112,1112,1112,1112,1112,1112,1112,1112
78751,2032,2032,2032,2032,2032,2032,2032,2032
78752,2575,2575,2575,2575,2575,2575,2575,2575
78753,5937,5937,5937,5937,5937,5937,5937,5937
78754,1202,1202,1202,1202,1202,1202,1202,1202
78756,761,761,761,761,761,761,761,761
78757,2239,2239,2239,2239,2239,2239,2239,2239
78758,6104,6104,6104,6104,6104,6104,6104,6104
78759,3426,3426,3426,3426,3426,3426,3426,3426

In [142]:
#grouping crime type by zipcode

crime_by_zipcode_df = crime_df.groupby(['zip_code', 'category_description']).count()[['crime_type']]
crime_by_zipcode_df

                               crime_type
zip_code category_description
78610    Theft                          1
78613    Aggravated Assault            11
         Auto Theft                    15
         Burglary                      55
         Robbery                        4
...                                   ...
78759    Auto Theft                   271
         Burglary                     375
         Murder                         3
         Robbery                       44
         Theft                       2612

[252 rows x 1 columns]

In [143]:
import pandas as pd
zip_code_avg_inc = pd.read_csv('Avg_INcome_by_Zip_Code_zip_atlas.csv')
zip_code_avg_inc

,#,Zip Code,Location,City,Population,Avg. Income/H/hold,National Rank
0,1,78730,"30.363632, -97.850355","Austin, Texas","4,885","$128,524.00",#58
1,2,78732,"30.382536, -97.894904","Austin, Texas","3,629","$103,951.00",#209
2,3,78739,"30.178839, -97.889064","Austin, Texas","8,643","$102,707.00",#227
3,4,78738,"30.327510, -97.989040","Austin, Texas","2,840","$102,295.00",#231
4,5,78733,"30.323857, -97.894860","Austin, Texas","8,716","$102,239.00",#232
5,6,78746,"30.296951, -97.811647","Austin, Texas","26,023","$100,571.00",#255
6,7,78726,"30.430488, -97.842530","Austin, Texas","6,480","$89,891.00",#462
7,8,78717,"30.488309, -97.764829","Austin, Texas","8,148","$87,290.00",#546
8,9,78737,"30.177041, -97.956661","Austin, Texas","7,100","$87,029.00",#555
9,10,78750,"30.413499, -97.802001","Austin, Texas","23,476","$78,428.00",#914
10,11,78735,"30.265993, -97.863894","Austin, Texas","9,671","$75,204.00","#1,099"
11,12,78734,"30.376159, -97.946334","Austin, Texas","12,925","$74,052.00","#1,174"
12,13,78749,"30.216168, -97.856006","Austin, Texas","28,497","$68,244.00","#1,718"
13,14,78727,"30.428300, -97.718143","Austin, Texas","22,212","$62,648.00","#2,442"
14,15,78731,"30.345211, -97.767455","Austin, Texas","24,059","$62,404.00","#2,481"
15,16,78736,"30.250877, -97.968810","Austin, Texas","6,897","$62,294.00","#2,505"
16,17,78759,"30.400789, -97.755969","Austin, Texas","40,547","$61,284.00","#2,701"
17,18,78747,"30.122470, -97.746210","Austin, Texas","5,079","$60,861.00","#2,805"
18,19,78729,"30.457246, -97.756419","Austin, Texas","24,561","$59,497.00","#3,110"
19,20,78748,"30.159688, -97.823287","Austin, Texas","25,361","$57,710.00","#3,441"
20,21,78703,"30.294204, -97.765114","Austin, Texas","19,585","$54,591.00","#4,241"
21,22,78754,"30.349483, -97.640390","Austin, Texas","5,422","$51,810.00","#5,136"
22,23,78728,"30.453764, -97.686695","Austin, Texas","17,298","$51,078.00","#5,441"
23,24,78725,"30.228676, -97.594967","Austin, Texas","1,836","$47,076.00","#7,170"
24,25,78757,"30.351934, -97.732827","Austin, Texas","21,415","$45,090.00","#8,326"
25,26,78745,"30.206806, -97.797108","Austin, Texas","53,044","$43,458.00","#9,241"
26,27,78758,"30.387634, -97.705310","Austin, Texas","42,820","$42,398.00","#9,967"
27,28,78744,"30.177015, -97.725888","Austin, Texas","33,706","$38,256.00","#13,682"
28,29,78753,"30.380366, -97.674764","Austin, Texas","44,210","$38,206.00","#13,714"
29,30,78756,"30.322200, -97.740236","Austin, Texas","7,128","$36,978.00","#14,980"
30,31,78724,"30.297099, -97.617767","Austin, Texas","15,428","$36,641.00","#15,389"
31,32,78719,"30.184794, -97.682619","Austin, Texas","1,765","$36,480.00","#15,557"
32,33,78722,"30.293272, -97.709068","Austin, Texas","6,365","$35,794.00","#16,472"
33,34,78701,"30.271653, -97.741553","Austin, Texas","3,855","$35,757.00","#16,509"
34,35,78704,"30.243128, -97.765874","Austin, Texas","43,249","$35,733.00","#16,555"
35,36,78723,"30.305341, -97.683344","Austin, Texas","30,110","$34,242.00","#18,353"
36,37,78752,"30.331288, -97.704660","Austin, Texas","18,030","$30,207.00","#23,385"
37,38,78751,"30.310819, -97.722821","Austin, Texas","14,005","$29,779.00","#23,850"
38,39,78742,"30.239436, -97.671420","Austin, Texas",625,"$28,281.00","#25,395"
39,40,78721,"30.269811, -97.683126","Austin, Texas","10,124","$26,646.00","#26,985"
40,41,78741,"30.229845, -97.715136","Austin, Texas","40,661","$25,369.00","#27,988"
41,42,78702,"30.263909, -97.714495","Austin, Texas","22,534","$23,348.00","#29,175"
42,43,78705,"30.293474, -97.738268","Austin, Texas","26,825","$14,740.00","#31,414"

In [144]:
result = pd.merge(crime_df, zip_code_avg_inc, how="inner", left_on=['zip_code'], right_on=['Zip Code'])
result.drop(['Zip Code', 'City', 'Location', '#'], axis = 1, inplace=True)
result = result[['category_description', 'crime_type', 'family_violence', 'occ_date', 'time_occ', 'address', 'zip_code', 'Population', 'Avg. Income/H/hold', 'National Rank', 'latitude' , 'longitude']]
result

,category_description,crime_type,family_violence,occ_date,time_occ,address,zip_code,Population,Avg. Income/H/hold,National Rank,latitude,longitude
0,Theft,THEFT,N,2021-12-31,23:50:00,6936 E BEN WHITE BLVD SVRD WB,78741,"40,661","$25,369.00","#27,988",30.215264,-97.703019
1,Burglary,BURGLARY OF RESIDENCE,N,2021-12-31,09:53:00,618 MONTOPOLIS DR,78741,"40,661","$25,369.00","#27,988",30.237844,-97.695379
2,Aggravated Assault,AGG ASSAULT FAM/DATE VIOLENCE,Y,2021-12-31,05:30:00,6934 E BEN WHITE BLVD SVRD WB,78741,"40,661","$25,369.00","#27,988",30.215666,-97.703547
3,Theft,BURGLARY OF VEHICLE,N,2021-12-31,01:00:00,4711 E RIVERSIDE DR,78741,"40,661","$25,369.00","#27,988",30.231789,-97.718888
4,Theft,THEFT,N,2021-12-30,16:01:00,6313 EL MIRANDO ST,78741,"40,661","$25,369.00","#27,988",30.239521,-97.692783
...,...,...,...,...,...,...,...,...,...,...,...,...
74458,Robbery,AGG ROBBERY/DEADLY WEAPON,N,2020-07-30,02:00:00,7900 FM 1826 RD,78737,"7,100","$87,029.00",#555,30.227463,-97.890243
74459,Burglary,BURGLARY NON RESIDENCE,N,2020-06-24,04:00:00,TWILIGHT MESA DR / TOMMY NOWOTNY DR,78737,"7,100","$87,029.00",#555,30.223913,-97.883650
74460,Theft,THEFT,N,2020-06-22,12:30:00,3106 EDGEWATER DR,78733,"8,716","$102,239.00",#232,30.353634,-97.858703
74461,Theft,BURGLARY OF VEHICLE,N,2020-04-10,13:40:00,614 N COMMONS FORD RD,78733,"8,716","$102,239.00",#232,30.339078,-97.884978
74462,Theft,THEFT OF LICENSE PLATE,N,2020-01-19,10:21:00,5313 SERENE HILLS DR,78738,"2,840","$102,295.00",#231,30.321840,-98.005679

In [145]:
# Read food_final_tx.csv
census_zip = pd.read_csv('food_final_tx.csv')
census_zip = census_zip.sort_values(['ZIP'])
census_zip.head()

,CensusTract,State,County,Urban,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,ZIP
10709,48453002307,Texas,Travis County,1,1,1,1,1,73301
10734,48453002411,Texas,Travis County,1,1,1,1,0,73301
9316,48421950200,Texas,Sherman County,0,0,0,0,0,73960
2756,48113013616,Texas,Dallas County,1,0,0,0,0,75001
2796,48113013725,Texas,Dallas County,1,0,1,0,1,75001

In [146]:
#group census zones by zip codes and sum the food deficient zones
census_grouping = census_zip.groupby(['ZIP'],as_index=False).sum()
census_grouping.head()

,ZIP,CensusTract,Urban,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle
0,73301,96906004718,2,2,2,2,1
1,73960,48421950200,0,0,0,0,0
2,75001,288678082405,6,0,1,0,1
3,75002,673190439628,14,1,1,1,1
4,75006,673582199329,14,0,6,0,1

In [147]:
# Add total count of food deprived tracts. 
census_grouping['Low_access_tracts'] = census_grouping['LILATracts_1And10'] + census_grouping['LILATracts_halfAnd10'] + census_grouping['LILATracts_1And20'] + census_grouping['LILATracts_Vehicle']
census_grouping.head()

,ZIP,CensusTract,Urban,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,Low_access_tracts
0,73301,96906004718,2,2,2,2,1,7
1,73960,48421950200,0,0,0,0,0,0
2,75001,288678082405,6,0,1,0,1,2
3,75002,673190439628,14,1,1,1,1,4
4,75006,673582199329,14,0,6,0,1,7

In [148]:
# Calculate the total tracts WITHOUT changing the order

total_tracts = census_zip['ZIP'].value_counts().sort_index()*4
total_tracts

73301     8
73960     4
75001    24
75002    56
75006    56
         ..
79955     4
79968     4
79995     4
79996     4
79997     4
Name: ZIP, Length: 2425, dtype: int64

In [149]:
# get total count of tracts per zip code
total = pd.DataFrame(total_tracts, census_grouping['ZIP']).set_index(census_grouping.index)
total

      ZIP
0       8
1       4
2      24
3      56
4      56
...   ...
2420    4
2421    4
2422    4
2423    4
2424    4

[2425 rows x 1 columns]

In [150]:
# total_tracts added to the dataframe.

census_grouping['total_tracts'] = (total)
census_grouping.head(10)

,ZIP,CensusTract,Urban,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,Low_access_tracts,total_tracts
0,73301,96906004718,2,2,2,2,1,7,8
1,73960,48421950200,0,0,0,0,0,0,4
2,75001,288678082405,6,0,1,0,1,2,24
3,75002,673190439628,14,1,1,1,1,4,56
4,75006,673582199329,14,0,6,0,1,7,56
5,75007,1058602462151,22,2,5,2,1,10,88
6,75009,240461141218,2,0,0,0,0,0,20
7,75010,481210216271,10,0,0,0,0,0,40
8,75011,96234035351,2,0,0,0,0,0,8
9,75013,288510189061,6,1,1,1,1,4,24

In [151]:
census_grouping['Percentage_dep'] = (census_grouping['Low_access_tracts']/census_grouping['total_tracts']*100)


# Initiate list 
food_deprived =[]

# For loop to catogorize zip code food disparity.
for i in census_grouping['Percentage_dep']:
          if i >= 50:
                    i = 'Yes'
          else:
                    i='No'
          food_deprived.append(i)


census_grouping['food_deprived'] = food_deprived

census_grouping

,ZIP,CensusTract,Urban,LILATracts_1And10,LILATracts_halfAnd10,LILATracts_1And20,LILATracts_Vehicle,Low_access_tracts,total_tracts,Percentage_dep,food_deprived
0,73301,96906004718,2,2,2,2,1,7,8,87.500000,Yes
1,73960,48421950200,0,0,0,0,0,0,4,0.000000,No
2,75001,288678082405,6,0,1,0,1,2,24,8.333333,No
3,75002,673190439628,14,1,1,1,1,4,56,7.142857,No
4,75006,673582199329,14,0,6,0,1,7,56,12.500000,No
...,...,...,...,...,...,...,...,...,...,...,...
2420,79955,48141001700,1,0,1,0,0,1,4,25.000000,No
2421,79968,48141001502,1,0,0,0,0,0,4,0.000000,No
2422,79995,48141003000,1,0,1,0,1,2,4,50.000000,Yes
2423,79996,48141010326,1,0,0,0,0,0,4,0.000000,No
2424,79997,48141003402,1,1,1,1,0,3,4,75.000000,Yes

In [152]:
# Keep only the info we need
cleaned_census_data = census_grouping[['ZIP', 'Low_access_tracts', 'total_tracts', 'Percentage_dep','food_deprived']]
cleaned_census_data.head()

     ZIP  Low_access_tracts  total_tracts  Percentage_dep food_deprived
0  73301                  7             8       87.500000           Yes
1  73960                  0             4        0.000000            No
2  75001                  2            24        8.333333            No
3  75002                  4            56        7.142857            No
4  75006                  7            56       12.500000            No

In [153]:
#Merge data frames together 

crime_df_cleaner = pd.merge(result, cleaned_census_data, how="inner", left_on=['zip_code'], right_on=['ZIP'])
crime_df_cleaner

,category_description,crime_type,family_violence,occ_date,time_occ,address,zip_code,Population,Avg. Income/H/hold,National Rank,latitude,longitude,ZIP,Low_access_tracts,total_tracts,Percentage_dep,food_deprived
0,Theft,THEFT,N,2021-12-31,23:50:00,6936 E BEN WHITE BLVD SVRD WB,78741,"40,661","$25,369.00","#27,988",30.215264,-97.703019,78741,22,52,42.307692,No
1,Burglary,BURGLARY OF RESIDENCE,N,2021-12-31,09:53:00,618 MONTOPOLIS DR,78741,"40,661","$25,369.00","#27,988",30.237844,-97.695379,78741,22,52,42.307692,No
2,Aggravated Assault,AGG ASSAULT FAM/DATE VIOLENCE,Y,2021-12-31,05:30:00,6934 E BEN WHITE BLVD SVRD WB,78741,"40,661","$25,369.00","#27,988",30.215666,-97.703547,78741,22,52,42.307692,No
3,Theft,BURGLARY OF VEHICLE,N,2021-12-31,01:00:00,4711 E RIVERSIDE DR,78741,"40,661","$25,369.00","#27,988",30.231789,-97.718888,78741,22,52,42.307692,No
4,Theft,THEFT,N,2021-12-30,16:01:00,6313 EL MIRANDO ST,78741,"40,661","$25,369.00","#27,988",30.239521,-97.692783,78741,22,52,42.307692,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74458,Robbery,AGG ROBBERY/DEADLY WEAPON,N,2020-07-30,02:00:00,7900 FM 1826 RD,78737,"7,100","$87,029.00",#555,30.227463,-97.890243,78737,0,32,0.000000,No
74459,Burglary,BURGLARY NON RESIDENCE,N,2020-06-24,04:00:00,TWILIGHT MESA DR / TOMMY NOWOTNY DR,78737,"7,100","$87,029.00",#555,30.223913,-97.883650,78737,0,32,0.000000,No
74460,Theft,THEFT,N,2020-06-22,12:30:00,3106 EDGEWATER DR,78733,"8,716","$102,239.00",#232,30.353634,-97.858703,78733,0,16,0.000000,No
74461,Theft,BURGLARY OF VEHICLE,N,2020-04-10,13:40:00,614 N COMMONS FORD RD,78733,"8,716","$102,239.00",#232,30.339078,-97.884978,78733,0,16,0.000000,No
74462,Theft,THEFT OF LICENSE PLATE,N,2020-01-19,10:21:00,5313 SERENE HILLS DR,78738,"2,840","$102,295.00",#231,30.321840,-98.005679,78738,0,32,0.000000,No

In [154]:
#formatting new data frame. 
crime_df_cleaner.loc[crime_df_cleaner['food_deprived'] =='Yes'].groupby(['zip_code']).count()
crime_df_cleaner.drop('ZIP',axis=1, inplace=True)
crime_df_cleaner.drop_duplicates(inplace=True)
crime_df_cleaner

,category_description,crime_type,family_violence,occ_date,time_occ,address,zip_code,Population,Avg. Income/H/hold,National Rank,latitude,longitude,Low_access_tracts,total_tracts,Percentage_dep,food_deprived
0,Theft,THEFT,N,2021-12-31,23:50:00,6936 E BEN WHITE BLVD SVRD WB,78741,"40,661","$25,369.00","#27,988",30.215264,-97.703019,22,52,42.307692,No
1,Burglary,BURGLARY OF RESIDENCE,N,2021-12-31,09:53:00,618 MONTOPOLIS DR,78741,"40,661","$25,369.00","#27,988",30.237844,-97.695379,22,52,42.307692,No
2,Aggravated Assault,AGG ASSAULT FAM/DATE VIOLENCE,Y,2021-12-31,05:30:00,6934 E BEN WHITE BLVD SVRD WB,78741,"40,661","$25,369.00","#27,988",30.215666,-97.703547,22,52,42.307692,No
3,Theft,BURGLARY OF VEHICLE,N,2021-12-31,01:00:00,4711 E RIVERSIDE DR,78741,"40,661","$25,369.00","#27,988",30.231789,-97.718888,22,52,42.307692,No
4,Theft,THEFT,N,2021-12-30,16:01:00,6313 EL MIRANDO ST,78741,"40,661","$25,369.00","#27,988",30.239521,-97.692783,22,52,42.307692,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74458,Robbery,AGG ROBBERY/DEADLY WEAPON,N,2020-07-30,02:00:00,7900 FM 1826 RD,78737,"7,100","$87,029.00",#555,30.227463,-97.890243,0,32,0.000000,No
74459,Burglary,BURGLARY NON RESIDENCE,N,2020-06-24,04:00:00,TWILIGHT MESA DR / TOMMY NOWOTNY DR,78737,"7,100","$87,029.00",#555,30.223913,-97.883650,0,32,0.000000,No
74460,Theft,THEFT,N,2020-06-22,12:30:00,3106 EDGEWATER DR,78733,"8,716","$102,239.00",#232,30.353634,-97.858703,0,16,0.000000,No
74461,Theft,BURGLARY OF VEHICLE,N,2020-04-10,13:40:00,614 N COMMONS FORD RD,78733,"8,716","$102,239.00",#232,30.339078,-97.884978,0,16,0.000000,No
74462,Theft,THEFT OF LICENSE PLATE,N,2020-01-19,10:21:00,5313 SERENE HILLS DR,78738,"2,840","$102,295.00",#231,30.321840,-98.005679,0,32,0.000000,No

In [169]:
#Formatting different columns.

#Remove # from national rank
crime_df_cleaner['National Rank'] = crime_df_cleaner['National Rank'].replace({'\#':''},regex = True)
crime_df_cleaner['National Rank'] = crime_df_cleaner['National Rank'].replace({'\,':''},regex = True).astype('int')

# Round food deprived to the hundreths place
crime_df_cleaner['Percentage_dep']= crime_df_cleaner['Percentage_dep'].round(2)

# Remove , and $ from average household value
crime_df_cleaner['Avg. Income/H/hold'] = crime_df_cleaner['Avg. Income/H/hold'].replace({'\$':''}, regex = True)
crime_df_cleaner['Avg. Income/H/hold'] = crime_df_cleaner['Avg. Income/H/hold'].replace({'\,':''}, regex = True).astype('float')

#Remove , from population 
crime_df_cleaner['Population'] = crime_df_cleaner['Population'].replace({'\,':''}, regex = True).astype('int')

crime_df_cleaner['Avg. Income/H/hold'] = crime_df_cleaner['Avg. Income/H/hold'].replace({'\,':''}, regex = True).astype('float')
crime_df_cleaner

,category_description,crime_type,family_violence,occ_date,time_occ,address,zip_code,Population,Avg. Income/H/hold,National Rank,latitude,longitude,Low_access_tracts,total_tracts,Percentage_dep,food_deprived
0,Theft,THEFT,N,2021-12-31,23:50:00,6936 E BEN WHITE BLVD SVRD WB,78741,40661,25369.0,27988,30.215264,-97.703019,22,52,42.31,No
1,Burglary,BURGLARY OF RESIDENCE,N,2021-12-31,09:53:00,618 MONTOPOLIS DR,78741,40661,25369.0,27988,30.237844,-97.695379,22,52,42.31,No
2,Aggravated Assault,AGG ASSAULT FAM/DATE VIOLENCE,Y,2021-12-31,05:30:00,6934 E BEN WHITE BLVD SVRD WB,78741,40661,25369.0,27988,30.215666,-97.703547,22,52,42.31,No
3,Theft,BURGLARY OF VEHICLE,N,2021-12-31,01:00:00,4711 E RIVERSIDE DR,78741,40661,25369.0,27988,30.231789,-97.718888,22,52,42.31,No
4,Theft,THEFT,N,2021-12-30,16:01:00,6313 EL MIRANDO ST,78741,40661,25369.0,27988,30.239521,-97.692783,22,52,42.31,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74458,Robbery,AGG ROBBERY/DEADLY WEAPON,N,2020-07-30,02:00:00,7900 FM 1826 RD,78737,7100,87029.0,555,30.227463,-97.890243,0,32,0.00,No
74459,Burglary,BURGLARY NON RESIDENCE,N,2020-06-24,04:00:00,TWILIGHT MESA DR / TOMMY NOWOTNY DR,78737,7100,87029.0,555,30.223913,-97.883650,0,32,0.00,No
74460,Theft,THEFT,N,2020-06-22,12:30:00,3106 EDGEWATER DR,78733,8716,102239.0,232,30.353634,-97.858703,0,16,0.00,No
74461,Theft,BURGLARY OF VEHICLE,N,2020-04-10,13:40:00,614 N COMMONS FORD RD,78733,8716,102239.0,232,30.339078,-97.884978,0,16,0.00,No
74462,Theft,THEFT OF LICENSE PLATE,N,2020-01-19,10:21:00,5313 SERENE HILLS DR,78738,2840,102295.0,231,30.321840,-98.005679,0,32,0.00,No

In [167]:
# Statistical analysis of the crime_df_cleaner
Crime_stats= crime_df_cleaner.describe()
Crime_stats.drop(columns=['zip_code','latitude', 'longitude'], axis=1, inplace=True)
Crime_stats

,Population,Avg. Income/H/hold,National Rank,Low_access_tracts,total_tracts,Percentage_dep
count,74214.000000,74214.000000,74214.000000,74214.000000,74214.000000,74214.000000
mean,29883.209206,43179.485892,13826.795537,10.207239,47.926968,21.335589
std,14003.883639,17903.076764,9217.291038,6.761452,17.379511,15.677384
min,625.000000,14740.000000,58.000000,0.000000,4.000000,0.000000
25%,21415.000000,34242.000000,5136.000000,4.000000,32.000000,10.710000
50%,30110.000000,38206.000000,13714.000000,9.000000,52.000000,21.880000
75%,42820.000000,51810.000000,18353.000000,15.000000,60.000000,28.120000
max,53044.000000,128524.000000,31414.000000,22.000000,84.000000,95.000000

In [170]:
crime_df_cleaner.to_csv('crime_data_cleaned.csv', index=False)
crime_by_zipcode_df.to_csv("crime_zipcode_data.csv")